<footer class="site-footer">

  <div class="container">
    <div class="row" style="margin-top:35px;">
      <div class="col-md-8">
        <ul>
          {% if page.url == "/" %}
          <li>
              <a class="page-scroll" href="#page-top">Home</a>
          </li>
          <li>
              <a class="page-scroll" href="#posts">Posts</a>
          </li>
          <li>
              <a class="page-scroll" href="#about">About</a>
          </li>
          <li>
              <a class="page-scroll" href="#team">Team</a>
          </li>
          <li>
              <a class="page-scroll" href="#contact">Contact</a>
          </li>
          {% else %}
          <li>
              <a class="page-scroll" href="{{ site.baseurl }}/#page-top">Home</a>
          </li>
          <li>
              <a class="page-scroll" href="{{ site.baseurl }}/#posts">Posts</a>
          </li>
          <li>
              <a class="page-scroll" href="{{ site.baseurl }}/#about">About</a>
          </li>
          <li>
              <a class="page-scroll" href="{{ site.baseurl }}/#team">Team</a>
          </li>
          <li>
              <a class="page-scroll" href="{{ site.baseurl }}/#contact">Contact</a>
          </li>
          {% endif %}
          {% for my_page in site.pages %}
            {% if my_page.title and my_page.layout != 'profile' %}
            <li><a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
            {% endif %}
          {% endfor %}

            <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></li>
        </ul>
      </div>
      <div class="col-md-4 text-right">C</div>
    </div>


  </div>

</footer>
